* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
:root {
  --primary: #1E3A8A;      /* الأزرق الغامق */
  --secondary: #3B82F6;    /* الأزرق الفاتح */
  --accent: #F59E0B;       /* الذهبي */
  --background: #FFFFFF;   /* الخلفية */
  --surface: #F3F4F6;      /* سكاشن/كروت */
  --text-dark: #111827;    /* نص أساسي */
  --text-light: #FFFFFF;   /* نص على خلفية غامقة */
}
:root {
  /* ثابت */
  --primary: #E62727;       /* CTA - الأحمر */
  --secondary: #1E93AB;     /* التركواز */
  --background: #F3F2EC;    /* خلفية فاتحة */
  --surface: #DCDCDC;       /* كروت/بلوكات */
  --text-dark: #222222;     /* نص أساسي */
  --text-light: #ffffff;    /* نص فاتح */
}
body {
  background: linear-gradient(160deg, #e2f5f8, #e1f5f8, #f8f9fa );
  min-height: 100vh;
  margin: 0;
}
/* ===========================================head=============================================== */
header {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4%;
  background-color: var(--secondary);
  color: white;
  flex-wrap: wrap;
  z-index: 2;
}
.logo img {
  height: 35px;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}
.nav-links a:hover {
  color:#1b4d3e;
}
.social-icons a {
  color: rgb(254, 254, 254);
  font-size: 18px;
  margin-right: 15px;
}
.social-icons a:hover {
  color: #1b4d3e;
}
.img-main{
  width:99%;
  margin: 20px 0.5% 100px 0.5%;
  display: flex;
  justify-content: center;
}
.img-main img{
  object-fit: cover;
  width: 99%;
  height: 80vh;
  border-radius: 3px;
  box-shadow: #4c363e 0px 0px 10px;
}
/*=======================================WRAPPER============================================ */
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 90px;
  margin: 80px auto;
  perspective: 780px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #767676;
  z-index: 10;
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

/*=============================================loding=========================================*/
.loader-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
.loader1 {
  text-align: center;
  position: relative;
  display: flex;
}
.loader1 .ball {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.ball {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle at 8px 5px, white 5%, black);
  position: relative;
  transform-origin: 50% -100px;
}

.ball:last-child {
  animation: balance-right 1.2s infinite linear;
}

.ball:first-child {
  animation: balance-left 1.2s infinite linear;
}

@keyframes balance-right {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-30deg);
    animation-timing-function: ease-in;
  }
}

@keyframes balance-left {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(30deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}
/*=====================================================جمله افتتاحيه================================================*/
.card1 {
  margin: 100px auto;
  text-align: center;
  border-radius: 20px;
  max-width: 1100px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
.card__content {
  background: linear-gradient(to bottom, #02cef7f6, #b0ecf4);
  border-radius: 17px;
  padding:75px 50px;
  width: 100%;
  height: 100%;
}    
.card__content h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--text-light);
}
.card__content p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--secondary);
}
/* ====================================== Services Section ============================================ */
.services {
  text-align: center;
  border-radius: 12px;
  padding: 80px 40px;
  margin: 100px 8%;
  background: linear-gradient(to bottom, #04bce1f6, #e0f7fa);
}
.services h2 {
  font-size: 1.8rem;
  margin-bottom: 50px;
  color: #c2185b;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.service-card {
  background: #fff;
  color:var(--secondary);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-weight: bold;
  transition: transform 0.3s ease;
}
.service-card:hover {
  transform: translateY(-5px);
}
/* ==================== CTA Final Section ==================== */
.cta-final {
  background:linear-gradient(to bottom, #02cef7f6, #b0ecf4);
  text-align: center;
  color: var(--text-light);
  padding: 70px 20px;
  border-radius: 12px;
  margin: 90px 8%;
  border: #0F172A 3px solid;
}
.cta-final h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--text-light);
}
.cta-final p {
  color:var(--text-dark);
}
.cta-final .cta-btn {
  background: var(--primary);
  color: #fff;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}
.cta-final .cta-btn:hover {
  background: var(--secondary);
  transform: scale(1.05);
}
/* From Uiverse.io by gharsh11032000 */ 
.div54{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 158px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}
/*==========================================footer============================================ */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  text-align: center;
  gap: 40px;
  color: #fff;
  padding: 40px 8% 20px; /* صغرت البادينج تحت */
  background-color: #1b1b1b;
  position: relative;
}
.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  font-size: 14px;
  color: #d5d4d4;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.footer h1, .footer h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #ffcc00;
}
.footer p {
  margin: 10px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-logo {
  margin-top: 15px;
  padding: 5px;
  max-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(245, 197, 3, 0.5);
}
.footer .social-icons {
  margin-top: 15px;
}
.footer .social-icons a {
  margin: 0 8px;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}
.footer .social-icons a:hover {
  color: #ffcc00;
}
.footer-left nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ddd;
  margin: 8px 0;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
}
.footer-left nav a:hover {
  color: #ffcc00;
}
/*==========================================mobail============================================ */
@media (max-width: 610px) {
  .services-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
}
@media (max-width: 768px) {
  header { /*--------------head----------------------*/
    flex-direction: row;
      justify-content: space-between;
      padding: 5px 3%;
  }
  .nav-links {
    order: 3;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  .logo {
    order: 2;
  }
  .social-icons {
    order: 1;
  }
  .img-main img{
    width: 99%;
    height:28vh;
  }
  .card1 {
    margin: 15% 1.5%;
  }
  .card1 h1 {
    font-size: 1.3rem;
    margin: 10px 0px 20px 0px;
  }
  .card__content {
  padding:35px 10px;
} 
  .services {
    margin: 100px 1%;
    padding: 80px 10px;
  }
  .services h2 {
  font-size: 1.3rem;
}
  .package-details {  /*-----------package-details------------*/
    padding: 15px;
  }
  .package-details h1 {
    font-size: 24px;
  }
  .package-details ul li {
    font-size: 19px;
    padding: 12px 15px;
  }
  .other-packages {   /*-----------other-Packages------------*/
    margin: 60px 0px 80px  0px;
  }
  .package-card {
    font-size:larger;
  }
    .cta-final {
    margin: 90px 1%;
    padding: 30px 20px;
  }
  .cta-final h1 {
    font-size: 1.4rem;
  }
  footer {   /*--------footer----------------*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .alahed, .content-our {
    text-align: center;
    padding: 0;
  }
  .content-links {
    align-items: center;
  }
 .footer {
    grid-template-columns: 1fr;   /* يخليهم تحت بعض */
    text-align: center;           /* توسيط النصوص */
  }
  .footer p {
    justify-content: center;
  }
  .footer-left nav a {
    justify-content: center;
  }
  .footer .social-icons {
    display: flex;
    justify-content: center;
  }
}
/*=======================================reveal=================================*/
/* الحالة الأولية لكل العناصر */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

/* الحالة بعد ما تظهر */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
