* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
:root {
  /* 🎨 أساسي */
  --primary: #06B6D9;      /* تركواز */
  --secondary: #1e9ec1;    /* تركواز أغمق */

  /* 🎯 ألوان مساعدة */
  --accent-gold: #cd7f32;  /* ذهبي */
  --accent-purple: #dda15e;/* بنفسجي */

  /* 🌐 خلفيات */
  --background-light: #F9FAFB;
  --background-dark: #0F172A;

  /* ✍ النصوص */
  --text-dark: #1E293B;
  --text-light: #FFFFFF;

  /* 🌈 تدرجات */
  --gradient-blue: linear-gradient(150deg, #06B6D9, #2874de);
  --gradient-purple: linear-gradient(150deg, #06B6D9, #9e4aec);
  --gradient-dark: linear-gradient(150deg, #06B6D9, #1E3A8A);
}
body {
  background: linear-gradient(160deg, #e2f5f8, #e1f5f8, #f8f9fa );
  min-height: 100vh;
  margin: 0;
}
/* ===========================================head=============================================== */
header {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4%;
    background-color: var(--accent-gold);
    color: white;
    flex-wrap: wrap;
    z-index: 2;
}
.logo img {
    height: 35px;
}
.logo:hover img{
    transform: scale(1.1);
    transition: transform 0.7s ease;
    filter: invert(1); /* يقلب الأبيض لأسود */
}
/* .logo img:hover {
  
} */
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover {
    color:var(--text-light);
}
.social-icons a {
    color: black;
    font-size: 18px;
    margin-right: 15px;
}
.social-icons a:hover {
    color: var(--text-light);
}
.img-main{
    width:99%;
    margin: 20px 0.5% 100px 0.5%;
    /* padding: 15px 15px; */
    display: flex;
    justify-content: center;
    /* background-color:rgb(214, 212, 212) */
}
.img-main img{
    object-fit: cover;
    width: 99%;
    height: 85vh;
    border-radius: 3px;
    box-shadow: #4c363e 0px 0px 10px;
}
/*==============================================wrapper========================================= */
@keyframes animate8345 {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}
.loader-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#040404;
  width: 200px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #464747;
  animation: animate8345 9s linear infinite;
}
.loader1 {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #2d60ec, #3ccfda);
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate8345 9s linear infinite;
  font-weight: bold;
}
/* =========================================package-details======================================== */
.package-details {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    border: #090909 2px solid;
}
.package-details h1 {
    color: var(--accent-gold);
    margin-bottom: 15px;
    font-size: 28px;
}
.package-details p {
    font-size: 20px;
    color: #cd8405;
    margin-bottom: 20px;
}
.package-details ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-bottom: 20px;
}
.package-details ul li {
    background: #f9f9f9;
    padding: 15px 20px;
    margin: 5px 0;
    border-radius: 6px;
    font-size: 20px;
    color: #333;
}
.package-details ul li::after {
    content: "<~";
    color: var(--accent-gold);
    font-weight: bold;
    margin-left: 8px;
}
/*==================================== From Uiverse.io by 00Kubi =============================*/ 
.loader {
  width: 40px;
  height: 40px;
  margin: 0px 1px 0px 1px;
  position: relative;

}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #ed7fef;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}
.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #e201e6;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: jump7456 0.5s linear infinite;
}
@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 50%;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
/* From Uiverse.io by gharsh11032000 */ 
.div54{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}
/* =========================================other-packages======================================== */ 
.other-packages {
    text-align: center;
    margin: 150px  0px;
}
.other-packages h2 {
    margin-bottom: 40px;
    font-size: 24px;
    color: #090909;
}
.package-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.package-card {
    display: inline-block;
    background: #f5f5f5;
    padding: 15px 25px;
    border-radius: 10px;
    color: var(--accent-gold);
    text-decoration: none;
    font-size:x-large;
    transition: 0.3s;
    border: 2px solid transparent;
    border-color: #090909;

}
.package-card:hover {
    background: var(--accent-gold);
    color: white;
}
/*==========================================footer============================================ */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 40px;
  background: #1b1b1b;
  color: #fff;
  padding: 50px 8%;
  text-align: center;
}
.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  font-size: 14px;
  color: #d5d4d4;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.footer h1, .footer h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #ffcc00;
}
.footer p {
  margin: 10px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-logo {
  margin-top: 15px;
  padding: 5px;
  max-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(245, 197, 3, 0.5);
}
.footer .social-icons {
  margin-top: 15px;
}
.footer .social-icons a {
  margin: 0 8px;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}
.footer .social-icons a:hover {
  color: #ffcc00;
}
.footer-left nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ddd;
  margin: 8px 0;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
}
.footer-left nav a:hover {
  color: #ffcc00;
}
@media (max-width: 768px) {
    header { /*--------------head----------------------*/
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 3%;
    }
    .nav-links {
        order: 3;
        width: 100%;
        justify-content: center;
        margin-top: 5px;
        flex-wrap: wrap;
    }
    .logo {
        order: 2;
    }
    .logo img{
        height: 25px;
    }
    .social-icons a {
      font-size: 14px;
      margin-right: 8px;
    }
    .social-icons {
        order: 1;
    }
    .img-main img{
    width: 99%;
    height:28vh;
}
    .package-details {  /*-----------package-details------------*/
        padding: 15px;
        margin: 30px 1%;

    }
    .package-details h1 {
        font-size: 24px;
    }
    .package-details ul li {
        font-size: 19px;
        padding: 12px 15px;
    }
    .other-packages {   /*-----------other-Packages------------*/
        margin: 60px 0px 80px  0px;
    }
    .package-card {
        font-size:larger;
    }.footer {
    grid-template-columns: 1fr;   /* يخليهم تحت بعض */
    text-align: center;           /* توسيط النصوص */
  }
  .footer p {
    justify-content: center;
  }
  .footer-left nav a {
    justify-content: center;
  }
  .footer .social-icons {
    display: flex;
    justify-content: center;
  }
}
/*======================================reveal===========================================*/
/* الحالة الأولية لكل العناصر */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}
/* الحالة بعد ما تظهر */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

